html {
  font-size: 1.75vw;
  background-color: #f7f7f7;
}
body {
  padding: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.35rem;
  margin: 0 14rem 1rem 8rem;
}
p,ol {
  color: #ff0000;
  font-size: 1rem;
}
ol {
  margin-left: -10px;
}
h1 {
  color: #616161;
  line-height: 3rem;
  font-size: 3rem;
}
h2, h3 {
  color: #616161;
}
aside {
  color: #616161;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0 5rem 1rem 0;
}
.italics {
  font-style: italic;
}
